<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>로그인</title>
</head>
<body>
<div th:replace="~{base-header :: header}"></div>
<div class="container">
  <h1>로그인</h1>
  <form th:action="@{/User/login}" method="post">
    <div class="form-group">
      <label for="userid">아이디:</label>
      <input type="text" id="userid" name="userid" required>
    </div>
    <div class="form-group">
      <label for="password">비밀번호:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="button-container">
      <button type="submit" class="login-button">로그인</button>
    </div>
  </form>
</div>
</body>
</html>
